.carousel-inner > .item > img.ss {
  
}

.carousel-caption {
    top: -2%;
}


.nopad {
   padding: 10px;
   margin: 0;
}

.gpad{
	padding: 25px;
}

a.tabtextmain{
	font-family: Georgia, serif;
	font-style: bold;
	font-size: 24px;
	padding-top: 14px;
}

a.tabtext{
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 16px;
}

.galimg{
	width: 400px;
	height: auto;
	display: block;
	margin: 0 auto;
	background-color: red;
}

h1{
	 font-family: Georgia, serif;
	 font-style: italic;
}

h1.gal{
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 28px;
	text-align: center;
}

h2{
	 font-family: Georgia, serif;
	 font-style: bold;
	 font-size: 22px;
}

h3{
	 font-family: Georgia, serif;
	 font-style: italic;
	 font-size: 16px;
}

h4{
	 font-family: Georgia, serif;
	 font-style: italic;
	 font-size: 18px;
	 margin: 0px;
	 padding-right: 20px;
}

h5{
	 font-family: Georgia, serif;
	 font-size: 12px;
}

.modal h2{
	font-family: Georgia, serif;
	font-size: 22px;
	text-align: center;
	font-style: bold;
}

.modal p{
	font-family: Georgia, serif;
	font-size: 16px;
	text-align: center;
	margin-top: 25px;
}

body {
    overflow-x: hidden;
}
a.tabheaders{
	font-family: courier new;
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 1.5vw;
	color: black;
	cursor: pointer;
}
a.tabheaders:hover{
	text-decoration: overline;
	color: gray;
}
a.icon{
	margin: 10px;
	color: black;
	font-size: 1.5vw;
	cursor: pointer;
}
a.icon:hover{
	color: gray;
}
img.gal{
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

img.gal:hover{
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}
.rowcol{
	padding: 0px; 
	margin: 0px; 
	overflow: hidden;
}